<!DOCTYPE html>
<form id="form">
	noun:<input type="text" ng-model="madLib.noun1" /><br />
	noun:<input type="text" ng-model="madLib.noun2" /><br />
	verb:<input type="text" ng-model="madLib.verb1" /><br />
	verb:<input type="text" ng-model="madLib.verb2" /><br />
	verb:<input type="text" ng-model="madLib.verb3" /><br />
	adjective:<input type="text" ng-model="madLib.adj1" /><br />
	adjective:<input type="text" ng-model="madLib.adj2" /><br />
	

	<button ng-click="submitForm(madLib)" id="button">Submit</button>
</form>